/* utils */
h1{
    font-size: 20px;
    color: white;
    
}
h1,p,ul,li,h2{
    font-family: 'Didact Gothic',
            sans-serif;
}
img{
    width: 100%;
}
#logo{
    width: 20px;
}


/* header */
#iscrizione{
border: 2px solid white;
height: 35px;
margin-top: 10px;
background-color: (220deg 36% 5%);
border-radius: 50px 50px;
width: 200px;
}
header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    
    
    
}



button:hover{
    color: blue;
}
p:hover{
    color: white;
}

li:hover{
    color: white;
}
 .recent-playimg:hover{
   background-color: antiquewhite;

}

.card img:hover{
   
    filter: saturate(10%);
}
.feet img:hover {
    transform: scale(2);
}
.main-content {
    display: flex;
    height: calc(100vh - 70px);
    
}
/* main */
main {

    background-color: hsl(219deg 26% 11%);
    width: calc(100% - 250px);
    overflow: auto;

}
.evidenza{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    
   
    
}

nav p{
    color: gray;
}
.recent-play{
    display: flex;
    gap: 10px;
    
}

.card{
    width: 170px;
    height: 200px;
    background-color: rgb(15, 20, 20);
    display: flex;
    flex-direction: row;
    
}
#einaudi{
border-radius: 50%;
}
 /* footer */
 h2 , p {
    color: white;
 }
footer{
    width: 100%;
    height: 70px;
    background-color:hsl(0deg 0% 16%);
    
}


.feet{
    display: flex;
    
    justify-content: space-between;
    width: 100%;
}
.foot-left{
display: flex;
padding: 5px;
text-align: center;
}
.foot-center{
    color: white;
    display: flex;
    gap: 15px;
    padding-top: 5px;
  
}
footer img{
    height: 40px;
}
.progress-bar{
  display: block;
  width: 250px;
  height: 5px;
  background-color: aliceblue;
  position: relative;
}
.progress{
   content: ''; 
   display: block;
   height: 10px;
   width: 5px;
   border-radius: 50%;
   background-color: rgb(32, 117, 191);
   position: absolute;
   top: -2px;
   right: 50px;
}
.progress-bar:hover{
    transform: scale(1.5);
    background-color: yellow;
}
.centrale{
    display: flex;
    flex-direction: column;
    
   
    justify-content: center;
}
.foot-end{
    color: aliceblue;
    display: flex;
    align-items: center;
    
}
.logo{
    height: 60px;
}
footer img{
    height: 15px;
}

.sinister{
    display: flex;
    align-items: center;
    
    gap: 5px;
    padding-left: 5px;
}
#spotify{
    width: 60px;
}
/* aside */
.main-menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
aside{
    width: 250px;
    background-color: black;
    color: gray;
}
#logo-side{
width: 100px;
}
.end-side{
margin-top: auto;

}
.lato{
   display: flex;
   flex-direction: column;
   
}
.center-side{
    padding: 10px;
    line-height: 25px;
    list-style-type: none;
}
aside span{
    color: rgb(43, 117, 181);
}
.john{
    display: flex;
    padding: 5px;
    gap: 5px;
}

@media screen and (max-width: 480px){
 ul{
    display: none;
 }
 }

