/* utils */
h1{
    font-size: 20px;
    color: white;
    
}
h1,p,ul,li,h2{
    font-family: 'Didact Gothic',
            sans-serif;
}
img{
    width: 100%;
}
.container{
    margin-top: 70px;
}
/* header */
#iscrizione{
border: 2px solid white;
height: 35px;
margin-top: 10px;
background-color: black;
border-radius: 50px 50px;
width: 200px;
}
header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    
    
    
}

/* main */
main{
    
    background-color: green;
    width:calc(100% - 250px);
    overflow: auto;
    
}
ul:hover{
    color: yellowgreen;
}
li:hover{
    color: aqua;
}
.main-content {
    display: flex;
    height: calc(100vh - 70px);
    
}
.evidenza{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    
   
    
}
nav p{
    color: aqua;
}
.recent-play{
    display: flex;
    gap: 10px;
    
}

.card{
    width: 170px;
    height: 200px;
    background-color: rgb(15, 20, 20);
    display: flex;
    flex-direction: row;
    
}
 /* footer */
 h2 , p {
    color: white;
 }
footer{
    width: 100%;
    height: 70px;
    background-color: black;
    
}


.feet{
    display: flex;
    
    justify-content: space-between;
    width: 1200px;
}
.foot-left{
display: flex;
padding: 5px;
text-align: center;
}
.foot-center{
    color: white;
}
footer img{
    height: 40px;
}
.progress-bar{
  display: block;
  width: 150px;
  height: 5px;
  background-color: aliceblue;
  position: relative;
}
.progress::after{
   content: ''; 
   display: block;
   height: 5px;
   width: 5px;
   border-radius: 50%;
   background-color: rgb(32, 117, 191);
   position: absolute;
   top: -2px;
   right: 0;
}
.centrale{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.foot-end{
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 5px;

}
/* aside */
aside{
    width: 250px;
    background-color: black;
    color: aliceblue;
}
#logo-side{
width: 100px;
}
.end-side{
margin-top: auto;

}
.lato{
   display: flex;
   flex-direction: column;
   
}
.center-side{
    padding: 10px;
    line-height: 25px;
    list-style-type: none;
}
aside span{
    color: rgb(43, 117, 181);
}
.john{
    display: flex;
    padding: 5px;
    gap: 5px;
}

@media screen and (max-width: 480px){
 ul{
    display: none;
 }
 }

