/* utils */
h1{
    font-size: 20px;
    color: white;
    
}
h1,p,ul,li,h2{
    font-family: 'Didact Gothic',
            sans-serif;
}
img{
    width: 100%;
}
/* header */
#iscrizione{
border: 2px solid white;
height: 35px;
margin-top: 10px;
background-color: black;
border-radius: 50px 50px;
width: 200px;
}
header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    
    
}

/* main */
main{
    
    background-color: green;
    width:calc(100% - 250px);
    overflow: auto;
    
}
.main-content {
    display: flex;
    height: calc(100vh - 70px);
}
.evidenza{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    color: aliceblue;
   
    
}
.recent-play{
    display: flex;
    gap: 10px;
    
}

.card{
    width: 270px;
    height: 200px;
    background-color: rgb(15, 20, 20);
    display: flex;
    flex-direction: row;
    
}
 /* footer */
 h2 , p {
    color: white;
 }
footer{
    width: 100%;
    height: 70px;
    background-color: black;
}


.feet{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
/* aside */
aside{
    width: 250px;
    background-color: black;
    color: aliceblue;
}
#logo-side{
width: 100px;
}



@media screen and (max-width: 480px){
 ul{
    display: none;
 }
 }

